button.button15 {
  display: inline-block;
  font-family: arial, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(68, 68, 68);
  text-decoration: none;
  user-select: none;
  padding: 0.2em 1.3em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
  transition: all 0.218s ease 0s;
}
button.button15:hover {
  color: rgb(24, 24, 24);
  border: 1px solid rgb(198, 198, 198);
  background: #f7f7f7 linear-gradient(#f7f7f7, #f1f1f1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
button.button15:active {
  color: rgb(51, 51, 51);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(238, 238, 238)
    linear-gradient(rgb(238, 238, 238), rgb(224, 224, 224));
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
input {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-size: 110%;

}
#your-custom-ID {
  border: 1px solid rgb(198, 198, 198);
  color: rgb(51, 51, 51);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
}
h1.header {
  margin-left: 35% ;
}
h1 {
  text-shadow:
    1px 1px white,
    2px 2px #777;
  color: #333;
  transition: all 1s;
}
h1:hover {
  text-shadow:
    1px 1px white,
    2px 2px rgb(126, 125, 125);
  color: rgb(182, 174, 176);
}
